/.BurpSuite
/.ICEauthority
/.Xauthority
/.Xdefaults
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.dmrc
/.gnupg
/.java
/.local
/.maltego
/.mozilla
/.msf4
/.notas.txt.swp
/.pki
/.profile
/.sudo_as_admin_successful
/.vim
/.viminfo
/.vscode
/.wget-hsts
/.xscreensaver
/.xsession-errors
/.xsession-errors.old
/Desktop
/Diapositivo1.PNG
/Documentos
/Imagens
/Modelos
/Música
/Público
/Transferências
/Vídeos
/cyberS3cTools
/meusficheiros
/minhaDir
/scan.sh
/text.PNG